.hamburguer__menu {
  display: none;
  #myLinks {
    display: none;
  }
  .icon {
    background: white;
    display: block;
    position: absolute;
    right: 0;
    top: 0;
  }
  a {
    color: white;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    display: block;
  }
}
